html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

.prof-box{
	width: 400px;
	height: 450px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
}

.pro-pic{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}	

h1{
	font-weight: 100;
	letter-spacing: 6px;
	font-size: 40px;
}

p{
	font-weight: 200;
	letter-spacing: 1px;
}

.social-icons{
	font-size: 40px;
	
}

.social-icons a{
	margin-left:23px;
	color: white;
}

.line-break{
	width: 325px;
	margin: 0 auto;
	border-top: 1px solid white;
}
